/*Bootstrap Overrides and Custom CSS*/

/*Icon CSS pulled from Twitter Bootstrap Docs*/
.the-icons {
  margin-left: 0;
  list-style: none;
}

.the-icons li {
  cursor: pointer;
  line-height: 42px;
  height: 42px;
  padding-left: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

section > ul li {
  margin-bottom: 5px;
}